.profile__edit-button {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0 0 10px 0;
  vertical-align: bottom;
  background-size: 7.5px 7.5px;
  background-position: center;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 880px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
  }
}
