.profile__add-button {
  display: block;
  width: 100%;
  max-width: 282px;
  height: 50px;
  background-size: 16px 16px;
  background-position: center;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-color: #000;
  border: 2px solid #fff;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 880px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
    margin-left: auto;
    background-size: 22px 22px;
  }
}
