.divider {
  display: block;
  width: 100%;
  max-width: 880px;
  height: 1px;
  margin: 0 auto 42px auto;
  background-color:rgba(84, 84, 84, .7);
  border: none;
  font-size: none;
}

@media screen and (min-width: 880px) {
  .divider {
    margin-bottom: 40px;
  }
}
