.popup__close-icon {
  width: 20px;
  height: 20px;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (min-width: 510px) {
  .popup__close-icon {
    width: 32px;
    height: 32px;
  }
}
