.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 336px;
  min-height: 54px;
  margin: 0 0 32px 0;
}

/*  */

@media screen and (min-width: 880px) {
  .profile__info {
    align-items: flex-start;
    min-height: 74px;
    margin: 0;
  }
}
