.page__container {
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
  padding: 28px 0 136px 0;
}

@media screen and (min-width: 880px) {
  .page__container {
    padding: 45px 0 60px 0;
  }
}
